{{ partial "header.html" . }}

<div class="church-online-container">
  <div class="church-online">
    <a role="button" href="https://online.church/">
      Church Online
    </a>
    <a role="button" href="/sunday-services/">
      In Person
    </a>
  </div>
</div>

<div class="splash hidden-xs">
  <video id="video-desktop" width="1280" height="720" src="/video/cross.m4v" autoplay="true" loop="true" muted="true" playsinline="true"></video>
<div class="overlay">Video by <a href="https://pixabay.com/users/joe_hackney-15024843/?utm_source=link-attribution&utm_medium=referral&utm_campaign=video&utm_content=64058">Joe Hackney</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=video&utm_content=64058">Pixabay</a></div></div>
<div class="splash hidden-sm hidden-md hidden-lg">
  <video id="video-mobile" width="576" height="1024" src="/video/church.m4v" autoplay="true" loop="true" muted="true" playsinline="true"></video>
  <div class="overlay">Video by <a href="https://pixabay.com/users/u_9dxqq0i3bd-38540410/?utm_source=link-attribution&utm_medium=referral&utm_campaign=video&utm_content=213738">u_9dxqq0i3bd</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=video&utm_content=213738">Pixabay</a></div>
</div>

{{ range .Site.RegularPages }}
  {{ if eq .Type "block" }}
   {{ .Render "home" }}
  {{ end }} 
{{ end }}

{{ partial "content-footer.html" . }}

