
<div class="podcast-links">
    Listen to the Calvary Temple podcast on 
      <a href="https://podcasts.apple.com/" target="_blank">Apple Podcasts <span class="glyphicon glyphicon-new-window"></span></a>,
      <a href="https://podcasts.google.com/" target="_blank">Google Podcasts <span class="glyphicon glyphicon-new-window"></span></a>, 
      <a href="https://music.amazon.com/podcasts/" target="_blank">Amazon Music <span class="glyphicon glyphicon-new-window"></span></a>, 
      <a href="https://www.youtube.com/channel/UCXxwWjTpSBTfSf8NfrZNeug" target="_blank">YouTube <span class="glyphicon glyphicon-new-window"></span></a>, and
      <a href="https://open.spotify.com/" target="_blank">Spotify <span class="glyphicon glyphicon-new-window"></span></a>.
</div>
