<div style="width: 100%; margin:0 auto; text-align:center;">
<img src="{{ .Site.BaseURL }}img/social-mail-on.png" style="display: none;" />
<img src="{{ .Site.BaseURL }}img/social-facebook-on.png" style="display: none;" />
<img src="{{ .Site.BaseURL }}img/social-instagram-on.png" style="display: none;" />
<img src="{{ .Site.BaseURL }}img/social-twitter-on.png" style="display: none;" />
<a class="social social-mail" href="mailto:calvarytemplestcharles@gmail.com"></a>
<a class="social social-facebook" href="https://www.facebook.com/calvarytemplestcharles/"></a>
<a class="social social-instagram" href="https://www.instagram.com/thecalvarytemple/"></a>
<a class="social social-twitter" href="https://twitter.com/calvtemple"></a>

<div class="copyright">
  Copyright &copy; {{ now.Format "2006" }} Calvary Temple. 
</div>
</div>