{{ partial "content-header.html" . }}

 <!-- Section (_index.md) content always shown at top -->
<div class="container mx-auto mb-8">
  {{ with .Site.GetPage "section" "readings" }}
    {{ .Content }}
    <H2 style="display: grid; place-items: center;">Please select a month from the list below</H2>
  {{ end }}
</div>

<div class="container mx-auto flex" style="display: grid; place-items: center;">
  <!-- Left-side menu -->
  <div class="col-sm col-md">
    <nav class="readings-menu">
      <ul class="nav-menu">
        {{ $currentPage := . }}
        {{ range .Pages.ByWeight }}
          <li class="bullet-li">
            <a href="{{ .RelPermalink }}" 
               class="nav-link{{ if eq .RelPermalink $currentPage.RelPermalink }}active{{ end }}">
              {{ .Title }}
            </a>
          </li>
        {{ end }}
      </ul>
    </nav>
  </div>

  <!-- Main content area 
  <div class="col-sm-10 col-md-10">
    {{ if .IsSection }}
      {{ with index .Pages.ByWeight 0 }}
        {{ .Content }}
      {{ end }}
    {{ else }}
      {{ .Content }}
    {{ end }}
  </div>
</div>-->

{{ partial "content-footer.html" . }}
